body, html {
    height: 100%;
    margin: 0px;
}
.backgroundImage{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.box{
	width: 50%;
	height: 80%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.4);
	text-align: center;
}
.box2{
	width: 80%;
	height: 65%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.2);
	text-align: center;
	margin-top: 2%;
	border-radius: 10px;
}
.box h5 {
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 20pt;
	margin-top: -1%;	
}
.content{
	background-color: white;
	padding: 10px;
	margin-bottom: 1.5%;
	border-radius: 10px;
}
.imageContent{
	width: 15%;
	height: 15%;
	border: 1.5px solid black;
	border-radius: 100%;
	margin-left: 10%;
}
.textContent{
	font-weight: bolder;
	font-size: 16pt;
	color: black;
	margin-left: 5%;
	margin-top: 5%;
}
