body, html {
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}
.backgroundImage{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.6);
	text-align: center;
	border-radius: 10px;
}
.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	text-transform: lowercase;
}
.box h1:first-letter{
	text-transform: uppercase;
}
.box h3 {
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 40%;
	text-transform: lowercase;
}
.box h3:first-letter{
	text-transform: uppercase;
}
.box input[type="submit"]{
	border: 0;
	background: #2ecc71;
	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 12pt;
	font-weight: bolder;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 10px;
	transition: 0.25s; 
	cursor: pointer;
	width: 100%;
}
.box input[type="submit"]:hover{
	background: white;
	border: 2px solid white;
	color: #2ecc71;
}
.box input[type="button"]{
	border: 0;
	background: #2ecc71;
	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 12pt;
	font-weight: bolder;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 10px;
	transition: 0.25s; 
	cursor: pointer;
	width: 100%;
}
.box input[type="button"]:hover{
	background: white;
	border: 2px solid white;
	color: #2ecc71;
}
.imageBox{
	position: absolute;
	width: 130px;
	height: 120px;
	margin-left: -17%;
	margin-top: -5%;
}
.tombol{
	border: 0;
	background: #2ecc71;
	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 12pt;
	font-weight: bolder;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 10px;
	transition: 0.25s; 
	cursor: pointer;
	width: auto;
}
.tombol:hover{
	background: white;
	color: #2ecc71;
	border: 2px solid white;
}
